/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-columns:repeat(20,40px);
	gap:5px;
	margin:20px;
	
}
.square {
      width: 40px;
      height: 40px;
      background-color: rgb(29,29,29); /* Initial color */
      transition: background-color 1s ease; /* Smooth transition */
    }

    .square:hover {
      background-color:blueviolet; /* Color on hover */
    }